<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/findId.js" defer></script>
    <link rel="stylesheet" href="/css/findId.css"> 
</head>
<body>
    <header>
        <div onclick="location.href='/'">
            <img style="width: 7vh;" src="/icons/yarn-ball.png">
            <text>bongEdalE</text>
            <a href="https://www.instagram.com/ahndonghyun3586/"><img style="width: 4vh; margin-top: 1vh; margin-left: 2vh;" src="/icons/instagram.png"></a>
            <a href="https://www.facebook.com/dongarii"><img style="width: 4vh;  margin-top: 1vh; margin-left: 1vh" src="/icons/facebook.png"></a>
          <a href="https://github.com/bongEdalE"><img style="width: 4vh;  margin-top: 1vh; margin-left: 1vh" src="/icons/github.png" ></a>
          <a href="https://blog.naver.com/ahndongari18"> <img style="width: 4vh;  margin-top: 1vh; margin-left: 1vh" src="/icons/blogging.png"></a>
        </div>
       
    </header>
    <div class="main">
            <!-- board1 -->
            <div> 
                <input id="nick" type="text" placeholder="닉네임">
                <input id="name" type="text" placeholder="이름">
                <input id="pw" type="text" placeholder="비밀번호">
                <span id="findId"><text>아이디 찾기</text></span>
                <span>
                    <div><text>회원님의 아이디는</text></div>
                    <div><text id="result"></text></div>
                </span>
            </div>
           
    </div>
    
    <footer>
        <text>본 사이트는 안동현이 뼈를 갈아서 3일동안 만든 웹페이지입니다</text>
        <text>불만 있으면 메일주세요 8a47x67b33@naver.com</text>
    </footer>
   
</body>
</html>