<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/mypage_secession.js" defer></script>
    <link rel="stylesheet" href="/css/mypage_secession.css"> 
</head>
<body>
    <header>
        <div onclick="location.href='/'">
            <img style="width: 7vh;" src="/icons/yarn-ball.png">
            <text>bongEdalE</text>
            <a href="https://www.instagram.com/ahndonghyun3586/"><img style="width: 4vh; margin-top: 1vh; margin-left: 2vh;" src="/icons/instagram.png"></a>
            <a href="https://www.facebook.com/dongarii"><img style="width: 4vh;  margin-top: 1vh; margin-left: 1vh" src="/icons/facebook.png"></a>
          <a href="https://github.com/bongEdalE"><img style="width: 4vh;  margin-top: 1vh; margin-left: 1vh" src="/icons/github.png" ></a>
          <a href="https://blog.naver.com/ahndongari18"> <img style="width: 4vh;  margin-top: 1vh; margin-left: 1vh" src="/icons/blogging.png"></a>
        </div>
        <% if(!logined){%>
        <div onclick="location.href='/login'"><text>login</text></div>
        <%}else{%>
            <div>
            <div class="h_mypage" onclick="location.href='/mypage/:userid'"><text>마이페이지</text></div>
            <form method="post">
                <input name="logout" type="hidden" value="logout">
                <button class="h_logout">로그아웃</button>
            </form>
        </div>
            <%}%>
    </header>
    <div class="main">
      
            <!-- board1 -->
            <div> 
                <input type="text" id="id" placeholder="아이디를 입력해주세요"><br>
                <input type="text" id="nick" placeholder="닉네임을 입력해주세요"><br>
                <input type="text" id="pw" placeholder="비밀번호를 입력해주세요"><br>
                <div class="agree"><text>★회원탈퇴에 동의하신다면 아래 문구대로 입력바랍니다</text></div>
                <input  type="text" id="agree" placeholder="회원탈퇴에 동의합니다"><br>
                <button>탈 퇴</button>
            </div>
           
    </div>
    
    <footer>
        <text>본 사이트는 안동현이 뼈를 갈아서 3일동안 만든 웹페이지입니다</text>
        <text>불만 있으면 메일주세요 8a47x67b33@naver.com</text>
    </footer>
</body>
</html>