@font-face {
    font-family: '티머니';
    src: url('/font/TmoneyRoundWindRegular.ttf');
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: '티머니';
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #c4F2CE;
}
header > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left:3vh;
    height: 10vh;
    border-radius: 1vh;
  
}
header > div:nth-child(1):hover{
  cursor: pointer;
}
header > div:nth-child(1) >text{
    color: #212121;
    font-size: 4vh;
    font-weight: bold;
}
.h_mypage{
    display: flex;
    justify-content: center;
    align-items: center;
    width:8vh;
    height: 5vh;
    background-color: #EFF4E7;
   border: 1px solid #EDE868;
    border-radius: 5px ;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.h_mypage >text{
    font-size: 1.5vh;
}
.h_logout{
    width: 8vh;
    height: 5vh;
    background-color: #EFF4E7;
    font-family: '티머니';
    font-size: 1.5vh;
    margin-left: 2vh;
    border: 1px solid #EDE868;
    border-radius: 5px ; 
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.h_logout:hover{
    cursor: pointer;
}
header > div:nth-child(2){
    width: 20vh;
    height: 6vh;
    background-color: #EDE868;
    margin-right: 3vh;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div:nth-child(2):hover{
   cursor: pointer;
}
header > div:nth-child(2)>text{
font-weight: bold;
   font-size: 3vh;
   color: #212121;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color:whitesmoke;
}
.main > div:nth-child(1){
    align-items: center;
    margin-left: 2vh;
    width: 95vh;
    height: 70vh;
    background-color:#9FDEBD;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.main > div:nth-child(2){
    align-items: center;
    margin-right: 2vh;
    width: 95vh;
    height: 70vh;
    background-color: #EFF4E7;
    border-radius: 1vh;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.title{
    align-items: center;
    display: flex;
    height: 6vh;
}
.title text:nth-child(1){
font-size: 3vh;
width: 80vh;
margin-left: 2vh;

}
.title text:nth-child(2){
    width: 20vh;
    font-size: 2vh;
    text-align: center;

    font-weight: bold;
}
.title text:nth-child(3){
        width: 22vh;
        font-size: 1.5vh;
        text-align: center;
    margin-right: 2vh;
    color: gray;
    font-weight: bold;
}
.script{
    height: 55vh;
}
.upDel{
    margin-top: 1.5vh;
    display: flex;
    justify-content: end;
  
}
.upDel span{
    color: #212121;
display: flex;
justify-content: center;
align-items: center;
width: 12vh;
height: 5vh;
background-color: #EDE868;
font-size: 1.6vh;
margin-right: 2vh;
font-weight: bold;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.upDel span:hover{
    cursor: pointer;
}
.upDel button{
    color: #212121;
    font-family: '티머니';
    width: 12vh;
    height: 5vh;
    background-color: #EDE868;
    font-size: 1.6vh;
    margin-right: 2vh;
    border: 0;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.upDel button:hover{
    cursor: pointer;
}

.comment > div:nth-child(1){
display: flex;
align-items: center;
font-size: 3vh;
height: 6vh;
background-color: #EFF4E7;
}
.comment > div:nth-child(1) >text{
    font-weight: bold;
   margin-left: 3vh;
   color: #212121;
}
.comment > div:nth-child(2) {
    height: 52vh;
   background-color: #EFF4E7;
 }
.comment_main{
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-top: 1.2vh;
    background-color: #EDE868;
    border-radius: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.comment_main text:nth-child(1){
    font-weight: bold;
    text-align: center;
    width: 10vh;
    font-size: 1.5vh;
  
}
.comment_main text:nth-child(2){
    padding-left: 1vh;
    width: 60vh;
    font-size: 1.5vh;
   
}
.comment_main text:nth-child(3){
    text-align: center;
    width: 20vh;
    font-size: 1.3vh;
    color: gray;
   
}
.comment_main > button{
    font-family: '티머니';
    font-weight: bold;
    font-size: 1vh;
    margin-right: 1vh;
    width: 5vh;
    border: 0;
}
.comment_main > button:hover{
 cursor: pointer;
}
.comment_list{
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    -webkit-padding-start: 0px;
}
.comment_list li{
    margin-top: 0.1vh;
    margin-left: 1vh;
}
.comment_list li:hover{
   cursor: pointer;
}
.comment_input{
    margin-left: 0.5vh;
    margin-bottom: 0.2vh;
    font-family: '티머니';
    font-size: 2vh;
    padding-left: 2vh;
    width: 83vh;
    height: 5vh;
    position: absolute;
    bottom: 16vh;
    border-radius: 1vh;
    border: 0;
}
.comment_Btn{
    font-weight: bold;
    font-family: '티머니';
    border-radius: 1vh;
    font-size: 1.7vh;
    width: 8.5vh;
    height: 5.5vh;
    position: absolute;
    bottom: 16vh;
    right: 2.5vh;
    border: 0;
    background-color: #EDE868;
}
.comment_Btn:hover{
cursor: pointer;
}
footer{
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #80CEBE;
    font-weight: bold;
}
footer text:nth-child(2){
    margin-top: 0.5vh;
}
