@font-face {
    font-family: '티머니';
    src: url('/font/TmoneyRoundWindRegular.ttf');
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: '티머니';
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #c4F2CE;
}
header > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left:3vh;
    height: 10vh;
    border-radius: 1vh;
  
}
header > div:nth-child(1):hover{
  cursor: pointer;
}
header > div:nth-child(1) >text{
    color: #212121;
    font-size: 4vh;
    font-weight: bold;
}
.h_mypage{
    display: flex;
    justify-content: center;
    align-items: center;
    width:8vh;
    height: 5vh;
    background-color: #EFF4E7;
   border: 1px solid #EDE868;
    border-radius: 5px ;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.h_mypage >text{
    font-size: 1.5vh;
}
.h_logout{
    width: 8vh;
    height: 5vh;
    background-color: #EFF4E7;
    font-family: '티머니';
    font-size: 1.5vh;
    margin-left: 2vh;
    border: 1px solid #EDE868;
    border-radius: 5px ; 
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.h_logout:hover{
    cursor: pointer;
}
header > div:nth-child(2){
    width: 20vh;
    height: 6vh;
    background-color: #EDE868;
    margin-right: 3vh;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div:nth-child(2):hover{
   cursor: pointer;
}
header > div:nth-child(2)>text{
font-weight: bold;
   font-size: 3vh;
   color: #212121;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color:whitesmoke;
}
.main > div:nth-child(1){
    align-items: center;
    margin-left: 2vh;
    width: 150vh;
    height: 70vh;
    background-color: aqua;
}
.main > div:nth-child(1){
    align-items: center;
    margin-left: 2vh;
    width: 150vh;
    height: 70vh;
    background-color: aqua;
}
.title{
    align-items: center;
    display: flex;
    height: 8vh;
}
.title input:nth-child(1){
font-size: 3vh;
height: 6vh;
width: 120vh;
padding-left: 2vh;
border: 0;
box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.title text:nth-child(2){
    width: 15vh;
    font-size: 2vh;
    text-align: center;
}
.title text:nth-child(3){
    width: 15vh;
    font-size: 2vh;
    text-align: center;
}
.title text:nth-child(4){
    text-align: center;
    width: 10vh;
    font-size: 2vh;
    margin-right: 2vh;
    background-color: blanchedalmond;
}
.script{
    height: 55vh;
}
.upDel{
    margin-top: 1vh;
    display: flex;
    justify-content: end;
  
}
.upDel span{
    font-weight: bold;
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 10vh;
    height: 5vh;
    font-size: 2.3vh;
    background-color:#EDE868;
    margin-left: 2vh;
    border-radius: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.upDel button{
    font-weight: bold;
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 10vh;
    height: 5vh;
    font-size: 2.3vh;
    background-color:#EDE868;
    margin-left: 2vh;
    border-radius: 0.5vh;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.upDel span{
    cursor: pointer;
}
.upDel button:hover{
    cursor: pointer;
}

    

footer{
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #80CEBE;
    font-weight: bold;
}
footer text:nth-child(2){
    margin-top: 0.5vh;
}
